<% include ../partials/head.ejs %>
<body>
    <header class="container-fluid bg-dark">
        <% include ../partials/header.ejs %>
    </header>
    <main>
        <div class="container">
            <section class="row mt-5 mb-5">
                
            </section> 
        </div>
        <div class="row">
            <section class="liste_machines">

            </section>
        </div>
        </main>
     <% include ../partials/footer.ejs %>   
</body>

