<% include ../partials/head.ejs %>
<body>
    <header class="container-fluid bg-dark">
        <% include ../partials/header.ejs %>
    </header>
    <main>
        <div class="container">
            <section class="row mt-5 mb-5">
                <h1>Liste des utilisateurs</h1>
            </section>
            <section class="row mt-5 mb-5">
                <form class="col-md-12">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="Nom">Nom</label>
                            <input type="text" class="form-control" id="nom">  
                        </div>
                        <div class="form-group col-md-6">
                            <label for="prenom">Prénom</label>
                            <input type="text" class="form-control" id="prenom">
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </form>
            </section> 
        </div>
        <div class="container-fluid">
            <div class="container">
                <section class="row">
                    <div id="liste_utilisateurs" class="col-md-12">
        
                    </div>
                </section>
            </div>
        </div>       
    </main>
    <% include ../partials/footer.ejs %>   
</body>